@font-face {
	font-family: 'Coolvetica';
	src: url('fonts/coolvetica.ttf');
}

html {
	font-family: 'Coolvetica', Fallback, sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	color: white;
	font-size: 60px;
}

#homeHeader h1 {
	font-size: 70px;
	grid-area: 1 / 1 / 1 / 5;
	margin: 20 0 0 0;
}

#homeHeader {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #0097DF;
	height: 25%;
}

#homeHeader img {
	height: 70px;
	width: 70px;
}

#homeHeader a {
	width: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
}

a:hover {
	background-color: #00A5F4;
}

body {
	background: #eeeeee;
}

#calendarhead button {
	background-color: white;
	text-decoration: none;
	border: none;
	height: 100%;
	width: 10%;
	font-weight: bold;
	font-size: 30px;
	color: #0097DF;
}

#calendarhead button:hover {
	color: black;
}

#calendarhead {
	height: 8%;
	display: flex;
	align-items: center;
	background-color: white;
}

h2 {
	font-size: 35px;
	text-align: center;
	display: inline-block;
	width: 80%;
	margin: 0 0;
	background-color: white;
	color: #0097DF;
}

#left {
	float: left;
}

#right {
	float: right;
}

#headings {
	width: 100%;
	text-align: center;
	table-layout: fixed;
	font-size: 20px;
}

#headings td {
	padding: 1% 0;
}

#maincalendar {
	border-collapse: collapse;
	width: 100%;
	height: 70%;
}

#maincalendar td {
	border: 3px solid #eeeeee;
	vertical-align: top;
	text-align: center;
	background-color: white;
	padding-top: 0.5%;
}

#maincalendar td:hover {
	background-color: #0097DF;
	color: white;
}

#backArrow {
	float: left;
	height: 5%;
	margin: 3% 0 0 4%;
}
